interfaz3/flows.json
[
    {
        "id": "58a5b85aafda5bd3",
        "type": "tab",
        "label": "TrolliApp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1f8db30bf5e7e91",
        "type": "http in",
        "z": "58a5b85aafda5bd3",
        "name": "Recibir Lista",
        "url": "/nueva-lista",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "6a869d166a7e56d3",
                "f8e64a385df417c4"
            ]
        ]
    },
    {
        "id": "6a869d166a7e56d3",
        "type": "debug",
        "z": "58a5b85aafda5bd3",
        "name": "Ver Datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8e64a385df417c4",
        "type": "function",
        "z": "58a5b85aafda5bd3",
        "name": "Preparar JSON para archivo",
        "func": "// Agrega una fecha si quieres\nmsg.payload.fecha = new Date().toISOString();\n\nmsg.payload = JSON.stringify(msg.payload) + \"\\n\"; // cada línea = un objeto\nmsg.filename = \"C:/Users/easl2/Downloads/listas_guardadas.txt\"; // CAMBIA ESTA RUTA\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "84349ae95ef5e0e7"
            ]
        ]
    },
    {
        "id": "84349ae95ef5e0e7",
        "type": "file",
        "z": "58a5b85aafda5bd3",
        "name": "Guardar en archivo",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "a689396237d660ec"
            ]
        ]
    },
    {
        "id": "a689396237d660ec",
        "type": "http response",
        "z": "58a5b85aafda5bd3",
        "name": "Responder a Flet",
        "statusCode": "",
        "headers": {},
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "4fd78fd3580774f4",
        "type": "comment",
        "z": "58a5b85aafda5bd3",
        "name": "Conexion con Flet",
        "info": "Conectando la app de Flet con Node",
        "x": 130,
        "y": 60,
        "wires": []
    }
]